@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap');

.clearfix:after{
    content:'';
    display:table;
    clear:both;
}

li{
    list-style-type: none;
}

button{
    padding: 0px;
    border: none;
}

#breakBtn{
    background-color: rgb(172, 172, 172);
    font-family: 'Lato';
    font-size: 16px;
    letter-spacing: 2px;
    width: 150;
    height: 30px;
    border-radius: 30px;
    color: #fff;
    margin: 30px auto;
    transition: all 0.3s;
}

#breakBtn:hover{
    background-color: #b5e254;
    color: #fff;
    font-weight: bold;
}

body{
    background-color: rgb(234, 234, 234);
    display: flex;
    flex-direction:row;
}

#index{
    position: absolute;
    background-color: rgb(234, 234, 234);
    width: 100vw;
    height: 100vh;
    z-index: 5;
    display: block;
    transition: opacity 1s, z-index 2s;
}


#switchtoMainPage{
   z-index: 6;
}

#startbutton{
    width: 150px;
    margin: 0 auto 50%;
    border: 1.5px solid #ea5548;
    font-family: 'Lato';
    font-weight: bold;
    letter-spacing: 2px;
    color: #ea5548;
    font-size: 14px;
    line-height: 45px;
    border-radius: 45px;
    transition: all 0.3s;
}

#startbutton:hover{
    width: 150px;
    margin: 0 auto 50%;
    font-family: 'Lato';
    font-weight:lighter;
    letter-spacing: 2px;
    color: #fff;
    background-color: #ea5548;
    font-size: 14px;
    line-height: 45px;
    border-radius: 45px;
}


#switchtoMainPage:checked + #index{
    opacity: 0;
    z-index: -1;
}

#switchtoMainPage:checked + .footer{
    opacity: 0;
    z-index: -1;
}

#switchtoMainPage{
    opacity: 0;
    z-index: -1;
}


#main{
    display: flex;
    width: 100vw;
    margin: 0 100px;
}

.main-content-row {
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content{
    text-align: center;
    flex: 1;
}

.logo {
    display: block;
    width: 250px;
    margin: 15% auto 5%;
    position: relative;
}

.title{
    width: 250px; height: 250px;
    margin: 0 auto;
    position:absolute;
    text-align: center;
    line-height: 250px;
    font-family: 'Lato';
    letter-spacing: 4px;
    color:#fff;
    font-size: 20px;
}

.logo img{
    margin-bottom: 20px;
}

#ClockTitle{
    width: max-content;
    margin: 40px auto;
}

.chartCard{
    margin-top: 15%;
}

.chartMenu {
    width: 100vw;
    height: 40px;
    background: #1A1A1A;
    color: rgba(255, 26, 104, 1);
}
.chartMenu p {
    padding: 10px;
    font-size: 20px;
}
    
.chartBox {
    width: 250px;
    height: 250px;
    border-radius: 250px;
    background: white;
    margin: 0 auto;
}


.smallRedCircle{
    width: max-content;
    height: 30px;
    margin: 10px auto 30px;
    padding: 0;
}

.smallRedCircle li{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid #ea5548;
    float: left;
    margin: 10px;
}

#TimerButton{
    height: 50px;
    width: 250px;
    display: flex;
    margin: 20px auto;
    position: relative;
    justify-content: space-around;
    flex-direction: row;
}

#TimerButton button{
    position: relative;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    float: left;
    margin: 15px;
}

#TimerButton img{
    width: 50px;
    height: 50px;
    float: left;
    padding: 0;
}

#TImerButtonCover{
    height: 50px;
    width: 250px;
    display: flex;
    position: absolute;
    justify-content: space-around;
    flex-direction: row;
}

#TimerButtonCover button{
    position: relative;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    float: left;
    margin: 15px;
    opacity: 0;
    transition: all 0.3s;
}

#TimerButtonCover button:hover{
    position: relative;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    float: left;
    margin: 15px;
    opacity: 1;
}

#TimerButton img{
    width: 50px;
    height: 50px;
    float: left;
    padding: 0;
}

p{
    margin: 0px;
}

.h1{
    font-family: 'Lato';
    font-weight: bold;
    letter-spacing: 2px;
    color: #333;
    font-size: 25px;
}


.h3{
    font-family: 'Lato';
    font-weight: bold;
    letter-spacing: 2px;
    color:grey;
    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 10px;
    margin: 0px;
}



#nav{
    display:flex;
    width: 80px;
    border-right: 2px solid rgb(255, 255, 255, .1);
    background-color: #333;
    position: revert;
    flex-direction: column;
    position: absolute;
    float: right;
    height: 100vh;
    z-index: 2;
}

#sidebar{
    float: left;
    position:relative;
    right: 0px;
    background-color: #333;
    width: 80px;
    height: 100vh;
    transition: width 0.3s;
    z-index: 2;
}

#sidebar input{
    display:none;
}

#sidebar .todo__title{
    display:none;
}

#sidebar p{
    font-size: 0px;
}

#sidebarSwitch{
    position: absolute;
    opacity: 0;
}

#sidebarSwitch:checked + #sidebar{
    width: 700px;
}

#sidebarSwitch:checked + #sidebar p{
    font-size: 100%;
    display: contents;
}

#sidebarSwitch:checked + #sidebar input{
    display:inline;
}

#sidebarSwitch:checked + #sidebar .todo__title{
    display:inline;
    width: -webkit-fill-available;
    background-color: rgb(78, 78, 78);
    margin-right: 20px;
    margin: 2px;
    display: block;
    position: relative;
}

#sidebar label #arrow{
    transform: scaleX(-1);
}

#sidebarSwitch:checked + #sidebar label #arrow{
    transform: scaleX(1);
}


.icon{
    position:absolute;
    width: 76px;
    height: 320px;
}

.icon button{
    width: 76px;
    height: 80px;
    background-color: rgba(255, 255, 255, .0);
}

.iconCover{
    position:absolute;
    width: 76px;
    height: 320px;
}

.iconCover button{
    width: 76px;
    height: 80px;
    background-color: #333;
    opacity: 0;
    transition: all 0.3s;
}

.iconCover button:focus{
    width: 76px;
    height: 80px;
    background-color: #333;
    opacity: 1;
}

.iconCover button:hover{
    width: 78px;
    height: 80px;
    background-color: rgb(85, 85, 85);
    opacity: 1;
}

#setWorkTime{
    position: absolute;
    opacity: 0;
    display: none;
}

#setBreakTime{
    position: absolute;
    opacity: 0;
    display: none;
}

#addnewtask{
    float: right;
    width: inherit;
    padding: 0 30px 0 110px;
    margin: 0 auto;
    height: 100%;
    overflow: scroll;
}

#taskLists{
    margin-top: 20px;
}

#listBoxes{
    width: -webkit-fill-available;
    height: 50px;
    font-family: 'Lato';
    font-weight: bold;
    letter-spacing: 2px;
    color:#fff;
    font-size: 14px;
    line-height: 50px;
    margin: 20px 0;
    padding: 0;
}

#listBoxes ul{
    padding: 0px;
    width: -webkit-fill-available;
}

/* #listBoxes li{
    margin: 2px 0;
    height: 50px;
    width: -webkit-fill-available;
    background-color: rgb(78, 78, 78);
} */

#listBoxes label{
    position: absolute;
    width: 380px;
    z-index: 1;
}

#listBoxes input[type='radio']{
    float:left;
    width:20px;
    height:20px;
    background: url("./image/tomato_small_gray.svg");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 20px;
    appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    -moz-appearance: none;
    outline: none;
    margin: 15px 18px;
    transition: all 0.3s;
}

#listBoxes input[type='radio']:checked{
    float:left;
    line-height: 50px;
    width:20px;
    height:20px;
    background: url("./image/tomato_small_color.svg");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 20px;
    appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    -moz-appearance: none;
    outline: none;
    margin: 15px 18px;
}

#listBoxes img{
    margin: auto 18px;
    height: 20px;
}

#listBoxes button{
    background-color: rgb(78, 78, 78);
    float: right;
    font-size: 14px;
    line-height: 50px;
    font-family: 'Lato';
    font-weight: bold;
    letter-spacing: 3px;
    color: rgb(255, 255, 255, .5);
    width: 50px;
    margin: 0;
}

#sidebarSwitch:checked + #listBoxes button{
    background-color: rgb(78, 78, 78);
    float: right;
    font-size: 14px;
    line-height: 50px;
    font-family: 'Lato';
    font-weight: bold;
    letter-spacing: 3px;
    color: rgb(255, 255, 255, .5);
    width: 50px;
    margin: 0px;
}


#listBoxes #btn_delete{
    z-index: 4;
}

.sidebartitle{
    margin: 0;
    border-bottom: 2px solid rgba(255, 255, 255, .1);
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    font-size: 20px;
    font-family: 'Lato';
    font-weight: bold;
    letter-spacing: 2px;
    width: -webkit-fill-available;
}

.todo__input{
    width: -webkit-fill-available;
    height: 50px;
    border-radius: 8px;
    padding: 14px;
    font-family: 'Lato';
    font-size: 16px;
    letter-spacing: 2px;
    outline-style: none;
    border: 0px;

}


.EstimatedTomato{
    width: 450px;
    margin: 0 auto;
    font-size: 0px;
    margin: 0 -10px;
}

.EstimatedTomato img{
    padding: 10px;
}

.AddTaskButton{
    font-family: 'Lato';
    font-weight: bold;
    letter-spacing: 2px;
    color: #fff;
    font-size: 14px;
    margin: 20px 0;
    width: -webkit-fill-available;
    height: 50px;
    background-color: #ea5548;
    border-radius: 50px;
    text-align: center;
    line-height: 50px;
    transition: all 0.3s;

}

.AddTaskButton:hover{
    background-color: #ea5648c5;
}

#sidebar #switchbtn{
    background-color: #fff;
    width: 100px;
    height: 65px;
    margin: 0 -60px;
    padding: 20px 0px 20px 20px;
    border-radius: 60px 0px 0 60px;
    transition: all 0.3s;
    bottom: 5rem;
    position: absolute;
    z-index: 1;
}


#sidebar #switchbtn:hover{
    margin: 0 -100px;
}

#sidebar #arrow{
    margin: 2.5px 0px 2.5px 15px;
    height: 20px;
}

.footer{
    display:block;
    font-family: 'Lato';
    letter-spacing: 2px;
    color:rgb(161, 161, 161);
    font-size: 9px;
    height: 20px;
    bottom: 3rem;
    position: absolute;
    width: 100%;
    text-align: center;
}

.chartBox .footer{
    width: 250px;
}

@media (min-width: 0px) and (max-width: 950px) {
    #main {
        display: flex;
        width: 100vw;
        margin: 0;
        position: absolute;
    }

    #switchtoMainPage{
        position: absolute;
    }

    #index{
        height: 110%;
    }

    .content {
        margin-top: 20%;
        height: 80%; 
    }

    #sidebar {
        float: left;
        position: absolute;
        right: 0px;
        background-color: #333;
        width: 0px;
        height: 110%;
        transition: width 0.3s;
    }

    #sidebarSwitch:checked + #sidebar{
        width: 100%;
    }

    #nav{
        display: none;
    }

    #addnewtask {
        float: right;
        width: inherit;
        padding: 0 20px;
        margin: 0 auto;
        height: 100%;
        overflow: scroll;
    }

    #sidebar #switchbtn {
        margin: 0;
        right: 0rem;
        top: 3%;
    }

    #sidebar #switchbtn:hover{
        margin: 0;
    }

    #myChart{
        width: 200px;
        height: 200px;
    }

    .chartBox {
        width: 200px;
        height: 200px;
        border-radius: 200px;
    }
    .chartCard{
        margin: 0;
    }

    .main-content-row {
        width: 100%;
        height: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    #TimerButton{
        width: 200px;
    }

    #TimerButtonCover{
        width: 200px;
    }

    .chartBox .footer{
    width: 200px;
    bottom: 0;
    position: relative;
    }


}